<div class="container">
  <div class="row">
    <div class="col-4 offset-4 mt-5 bg-dark bg-opacity-75 rounded-4">
      <form class="text-center mt-5" #form="ngForm" (ngSubmit)="logme(form)">
        <div class="form-group">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="E-mail"
            required
            class="form-control"
            ngModel
          />
        </div>
        <div class="form-group mt-5">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
            class="form-control"
            ngModel
          />
        </div>
        <button
          type="submit"
          class="btn btn-danger mt-3 mb-3"
          [disabled]="form.invalid"
        >
          Accedi
        </button>
      </form>
    </div>
  </div>
</div>
