<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark" data-bs-theme="dark" >
  <div class="container-fluid">
    <a class="navbar-brand" ><img src="../../../assets/images/NETFLICS-10-12-2023.png" alt="" style="width: 150px;"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            *ngIf="utente"
            [routerLink]="['/home']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            *ngIf="!utente"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="active"
            *ngIf="!utente"
            >Registrati</a
          >
        </li>
      </ul>
      <div class="d-flex align-items-baseline ">
        <h5 *ngIf="utente" class="fst-italic text-white smaller ">Welcome back,  {{utente.user.name}}</h5>
        <button
          type="button"
          class="btn btn-danger ms-2 float-end"
          *ngIf="utente"
          (click)="logout()"
        >
        <i class="fas fa-power-off"></i>
      </button>
    </div>
    </div>
  </div>
</nav>
