<div class="container" >
    <div class="row text-center ">
        <div class="col-4 offset-4 margin-top-profile bg-dark bg-opacity-75 rounded-4">
            <h3><img src="../../../assets/images/username-10-12-2023.png" alt="" style="width: 100px;">||{{utente?.user?.name}}</h3>
            <h5><img src="../../../assets/images/email-10-12-2023.png" alt="" style="width: 50px;">||{{utente?.user?.email}}</h5>
            <h5><img src="../../../assets/images/id-10-12-2023.png" alt="" style="width: 20px;">||{{utente?.user?.id}}</h5>
            
        </div>
    </div>
</div>
