:host{
    display: block;
    background-image: url(../../../assets/images/curtains-1165305.jpg);
   background-position: center;
    background-size: cover;
    height: calc(100vh - 62px);
}
.margin-top-profile{
    margin-top: 300px;
    color: whitesmoke;
}